# --- Gruvbox Dark Theme for Sioyek ---
custom_background_color         #282828
custom_text_color               #fbf1c7

# Highlighting and status bar
search_highlight_color          #fabd2f
status_bar_color                #3c3836
status_bar_text_color           #fbf1c7
ui_text_color                   #fbf1c7
ui_selected_text_color          #fbf1c7
ui_background_color             #3c3836
ui_selected_background_color    #504945

# PDF paper behavior
custom_color_contrast           0.3
custom_color_mode_empty_background_color #1d2021
page_separator_color            #1d2021
page_separator_width            10
